exportPattern("^[[:alpha:]]+")

importFrom(Rcpp,sourceCpp)
importFrom("graphics", "arrows", "par", "plot", "points", "text")
importFrom("stats", "rnorm")
importFrom("grDevices", "adjustcolor")
importFrom("graphics", "abline", "axis", "rect")
importFrom("stats", "cutree", "dist", "prop.test", "sd","smooth.spline")
useDynLib(CoOL, .registration = TRUE)
